# Python
.venv/
__pycache__/
*.py[cod]
*.db
.env
*.egg-info/
dist/
build/

# Node
node_modules/
dist/
*.local

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Build artifacts
tsconfig.tsbuildinfo
